body { 
    font-family: 'Poppins', sans-serif; background-color: #fffaf5; color: #4a4a4a; 
}
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                        url('images/herocontent.jpg');
    background-size: cover;
    background-position: center;
}
.section-title {
    color: #6b4f3b; font-weight: 700; position: relative; display: inline-block;
}
.section-title::after {
            content: "";
            display: block;
            width: 40px;
            height: 3px;
            background: #009688;
            margin: 8px auto 0;
}